<ul>
	<li class="active">
		<a href="/"><i class="fa fa-user-md"></i> Profile</a>
	</li>
	<li>
		<a href="/gall"><i class="fa fa-picture-o"></i> Gallery</a>
	</li>
	<li>
		<a href="/edit-profile"><i class="fa fa-edit"></i> Edit</a>
	</li>
	<li>
		<a href="/change-password"
			><i class="fa fa-unlock-alt"></i> Change Password</a
		>
	</li>
	<li>
		<a href="/profile-photo"><i class="fa fa-camera"></i> Profile Photo</a>
	</li>
	<li>
		<a href="/cover-photo"><i class="fa fa-image"></i> Cover Photo</a>
	</li>
	<li>
		<a href="/find-friends"><i class="fa fa-user-plus"></i> Find Friends</a>
	</li>
	<li>
		<a href="/loggout"><i class="fa fa-sign-out"></i> Logout</a>
	</li>
</ul>
