<img id="proff" src="./images/<%= user.photo %>" alt="" />
<h3><%= user.name %></h3>
<h4>@<%= user.username %></h4>
<div class="follow-wrapper">
	<a href="">2K Followers</a>
	<a href="">1K Following</a>
</div>
