<div class="profile-body">
	<div class="profile-wraper">
		<div class="profile-info">
			<div class="user info"><%- include ("layouts/profile.ejs") %></div>
			<hr />
			<div class="user-menu"><%- include ("layouts/menu.ejs") %></div>
		</div>
		<div class="profile-box">
			<div class="box-content">
				<h3>Gallery Photo</h3>
				<% if (message) { %>
				<p><%= message %></p>
				<% } %>
			</div>
			<div class="gall-update">
				<h2>Gallery</h2>
				<div class="gall-wrapper">
					<!-- single item -->
					<% user.gallery.forEach(element => { %>
					<div class="single-item">
						<img src="./gallery/<%= element %> " alt="" />
					</div>
					<% }) %>

					<!-- end single item -->
				</div>
				<div class="gallery-wrapper"></div>
				<form action="/gall" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<label for="gallery"
							><img id="label_img" src="../images/image-gallery.png" alt=""
						/></label>
						<input type="file" multiple name="gallery" id="gallery" />
						<button type="submit">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
