<div class="auth-body reset-pass">
	<div class="auth-wraper">
		<div class="auth-form">
			<h2>Forgot Password ?</h2>
			<% if (message) { %>
			<p><%= message %></p>
			<% } %>
			<div class="form-wraper">
				<form action="/password-reset" method="POST">
					<div class="form-group">
						<label for="">Email</label>
						<input name="email" type="text" />
					</div>

					<div class="form-group">
						<button type="submit">Reset password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
