<div class="profile-body">
	<div class="profile-wraper">
		<div class="profile-info">
			<div class="user info"><%- include ("layouts/profile.ejs") %></div>
			<hr />
			<div class="user-menu"><%- include ("layouts/menu.ejs") %></div>
		</div>
		<div class="profile-box">
			<div class="profile-details" style="background-image: url()">
				<div class="profile-photo">
					<img src="./images/<%= user.photo %>" alt="" />
					<h2><%= user.name %></h2>
				</div>
				<hr />
				<h2>Gallery</h2>
				<div class="gall-wrapper">
					<!-- single item -->
					<div class="single-item">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjNuJn1DSPvamzZpsssUXF9OmC4m9T1g_3xtsMWcbD&s"
							alt=""
						/>
					</div>
					<!-- end single item -->
					<!-- single item -->
					<div class="single-item">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjNuJn1DSPvamzZpsssUXF9OmC4m9T1g_3xtsMWcbD&s"
							alt=""
						/>
					</div>
					<!-- end single item -->
					<!-- single item -->
					<div class="single-item">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjNuJn1DSPvamzZpsssUXF9OmC4m9T1g_3xtsMWcbD&s"
							alt=""
						/>
					</div>
					<!-- end single item -->
					<!-- single item -->
					<div class="single-item">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjNuJn1DSPvamzZpsssUXF9OmC4m9T1g_3xtsMWcbD&s"
							alt=""
						/>
					</div>
					<!-- end single item -->
					<!-- single item -->
					<div class="single-item">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjNuJn1DSPvamzZpsssUXF9OmC4m9T1g_3xtsMWcbD&s"
							alt=""
						/>
					</div>
					<!-- end single item -->
					<!-- single item -->
					<div class="single-item">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjNuJn1DSPvamzZpsssUXF9OmC4m9T1g_3xtsMWcbD&s"
							alt=""
						/>
					</div>
					<!-- end single item -->
					<!-- single item -->
					<div class="single-item">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjNuJn1DSPvamzZpsssUXF9OmC4m9T1g_3xtsMWcbD&s"
							alt=""
						/>
					</div>
					<!-- end single item -->
					<!-- single item -->
					<div class="single-item">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjNuJn1DSPvamzZpsssUXF9OmC4m9T1g_3xtsMWcbD&s"
							alt=""
						/>
					</div>
					<!-- end single item -->
					<!-- single item -->
					<div class="single-item">
						<img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjNuJn1DSPvamzZpsssUXF9OmC4m9T1g_3xtsMWcbD&s"
							alt=""
						/>
					</div>
					<!-- end single item -->
				</div>
			</div>
		</div>
	</div>
</div>
